@inherits LayoutComponentBase

<div class="page">
    
    
    @if (expandSubNav)
    {
        
    }else{
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <div class="main">
        <div class="top-row px-1">
            <div class="nav-link " @onclick="()=>expandSubNav = !expandSubNav">
            <span class="oi oi-list" aria-hidden="true"></span>
            </div>
            <a target="_blank" class="ml-md-auto"></a>
        </div>

        <div class="content px-4">
            @Body
            
        </div>
    </div>
</div>

@code {

    private bool expandSubNav=false;

}