<div class="alert alert-info" role="alert">
    Lo sentimos, la URL consultada no existe
</div>

@code{
    protected override void OnInitialized(){
        Console.WriteLine("404: Sitio no encontrado");
    }
}